<style>
    .text-white {
      color: white;
    }
  </style>

<div class="border-bottom row text-white" style="margin-bottom:16px;padding-bottom:8px;">
    <div class="col-10">
      <h4 style="color:rgb(115,115,115);"  class="text-white">Name: {{student['student_name']}}</h4>
      <div>
        <b  class="text-white">Registration Number: </b> {{student['reg_no']}}
      </div>
      <div>
        <b  class="text-white">Email ID:</b> {{student['email']}}
      </div>
    </div>
    <div class="col-2 padding-right:16px">
      <a type="button" class="btn btn-light btn-outline-primary float-right align-middle" href="/student/{{student['id']}}">For More Details</a>
    </div>
    
    
  </div>